:root{
    --color-dark: #1b1b1b;
    --color-light: #ffffff;
    --color-gold: #c7b8a5;
    --color-grey: #efefef; 
}

body{
    font-family: 'Oswald', sans-serif; 
    font-weight: 200;
    background-color: var(--color-dark);
    color: var(--color-light);
    letter-spacing: .05rem;
}

.ion-icon {
    color: #ffffff;
  }
.lead-xl{
    font-size: 1.75rem;
}

.nav-link{
    margin-left: 2rem;
    text-align: right;
}

.sideways{
    writing-mode: vertical-lr;
    display: block;
    margin: 3.5rem 0;
    padding: 10px;
}

.btn-primary{
    background-color: transparent;
    border: 1px solid var(--color-light);
    border-radius: 0;
    color: var(--color-light);
    padding: .7rem 2.5rem;
    font-size: 1.25rem;
}

.btn-primary:hover{
    background-color: var(--color-light);
    color: var(--color-dark);
    border: 1px solid var(--color-light);
}

.navbar{
    min-height: 5rem;
}

.bg-light{
    background-color: var(--color-light);
}
.bg-grey{
    background-color: var(--color-grey);
}

.border-right{
    border-right: 1px solid rgba(256, 256, 256, .1) !important;
}
.container .form .form-header .form-title {
    font-weight: normal;
    font-family: sans-serif;
    color: #ff851b;
    text-align: center;
    padding: 14px 0;
}
.container .form .form-header .form-title span {
    color: #ffffff;
}
.container .form {
    background: rgba(0, 0, 0, .6);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
}
.container .form .form-label {
    display: block;
    color: #ff851b;
    font-size: 16px;
    font-family: Roboto;
    position: relative;
}

.container .form .form-input, .form-textarea {
    background: rgba(0, 0, 0, .7);
    border: none;
    outline: none;
    border-bottom: 2px solid #ff851b;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #ffffff;
    font-family: Roboto;
}

.container .form .form-textarea {
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}

.container .form .btn-submit {
    width: 100%;
    font-family: Roboto;
    outline: none;
    background: #ff851b;
    font-size: 16px;
    border: none;
    color: #ffffff;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;
}

.container .form .btn-submit:hover {
    background: #f29718;
}

footer {
    width: 100%;
    height: 50px; 
    padding: 25px;
}

p.text {
    color: #ffffff;
    font-size: 15px;
    text-align: left;
    bottom: 0;
}


@media (max-width: 991.98px){
    .content{
        padding: 5rem;
    }
}
@media (max-width:1199.98px) {
    .sideways{
        margin: 2rem 0;
    }
    .lead-xl{
        font-size: 1.25rem;
    }
}